@charset "UTF-8";
body {
  font-family: "Pretendard", sans-serif;
  padding: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  height: 64.5px;
  margin-bottom: 24px;
}
header .logo-container {
  display: flex;
  align-items: center;
  gap: 45px;
}
header .logo-container .logo {
  margin-left: 6px;
  height: 45px;
  width: auto;
  -webkit-user-drag: none;
}
header .logo-container .date {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.45);
}
header .main-title {
  font-size: 54px;
  font-weight: 800;
  letter-spacing: -0.02em;
}
header .main-title#tester-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.section {
  height: calc(100svh - 148.5px);
  box-sizing: border-box;
}

/* 데이터가 없을 때 표시될 섹션 */
#no-data {
  display: none; /* 기본적으로 숨김 */
}
#no-data .section {
  border: 3px solid rgba(240, 78, 35, 0.3);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#no-data .section p {
  font-size: 45px;
  font-weight: 600;
  color: rgb(0, 0, 0);
}

.slider {
  position: relative;
}
.slider .slider-controls {
  position: absolute;
  top: 15px;
  right: 180px;
  display: flex;
  align-items: center;
  gap: 1.5px;
  opacity: 0.6;
}
.slider .slider-controls button {
  cursor: pointer;
  -webkit-user-drag: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  border: 2px solid rgb(240, 78, 35);
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  color: rgb(240, 78, 35);
}
.slider .slider-controls button img {
  width: 15px;
  height: 15px;
  -webkit-user-drag: none;
}
.slider .slider-controls #slide-counter {
  width: 81px;
  font-size: 21px;
  text-align: center;
  color: rgb(240, 78, 35);
}

#cover-view, #item-view {
  display: flex;
  border: 3px solid rgba(240, 78, 35, 0.3);
  border-radius: 15px;
}
#cover-view .slide-content-container, #item-view .slide-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-width: 0;
  padding: 45px;
  margin-bottom: -6px;
}
#cover-view .slide-content-container .slide-content .label, #item-view .slide-content-container .slide-content .label {
  margin-bottom: 9px;
  font-size: 24px;
  font-weight: 400;
  color: rgba(240, 78, 35, 0.75);
}
#cover-view .slide-content-container .slide-content .content, #item-view .slide-content-container .slide-content .content {
  font-size: 45px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: -0.02em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#cover-view .img-frame, #item-view .img-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(240, 78, 35, 0.15);
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  height: 100%;
  aspect-ratio: 3/4;
}
#cover-view .img-frame#cover-img-default, #cover-view .img-frame#item-img-default, #item-view .img-frame#cover-img-default, #item-view .img-frame#item-img-default {
  background-color: rgba(240, 78, 35, 0.05);
}
#cover-view .img-frame#cover-img-default .default, #cover-view .img-frame#item-img-default .default, #item-view .img-frame#cover-img-default .default, #item-view .img-frame#item-img-default .default {
  width: 35%;
  height: auto;
  opacity: 0.6;
  -webkit-user-drag: none;
}
#cover-view .img-frame .selected, #item-view .img-frame .selected {
  height: 100%;
  width: 100%;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-user-drag: none;
}

#cover-view .slide-content-container .slide-content {
  height: 272px;
}
#cover-view .slide-content-container .slide-content ul {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
#cover-view .slide-content-container .slide-content ul li::before {
  content: "·";
  display: inline-block;
  transform: scale(0.75);
  margin-right: 12px;
}

.list-page {
  display: flex;
  flex-direction: column;
  border: 3px solid rgba(240, 78, 35, 0.3);
  border-radius: 15px;
}
.list-page .table-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 220px;
  border-bottom: 2px solid rgba(240, 78, 35, 0.15);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  font-size: 19.5px;
  font-weight: 500;
  background-color: rgba(240, 78, 35, 0.15);
}
.list-page .table-header li {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.list-page .table-header li:last-child {
  border-right: none;
}
.list-page .list-view-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.list-page .list-view-container .table-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 220px;
  height: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 30px;
  font-weight: 600;
}
.list-page .list-view-container .table-content.highlight {
  background-color: rgba(240, 78, 35, 0.05);
}
.list-page .list-view-container .table-content:last-child {
  border-bottom: none;
}
.list-page .list-view-container .table-content li {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  min-width: 0;
  padding: 15px 30px;
}
.list-page .list-view-container .table-content li span {
  display: -webkit-box;
  line-clamp: 2; /* 텍스트를 2줄로 제한 */
  -webkit-line-clamp: 2; /* 텍스트를 2줄로 제한 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all; /* 단어 단위가 아닌 글자 단위로 줄바꿈하여 공간 활용도 높임 */
}
.list-page .list-view-container .table-content li:last-child {
  border-right: none;
}

#slider-edit {
  display: flex;
  flex-direction: column;
  border: 3px solid rgba(153, 202, 59, 0.45);
  /* Webkit 브라우저(Chrome, Safari, Edge)를 위한 커스텀 플로팅 스크롤바 */
}
#slider-edit .table-header {
  display: grid;
  grid-template-columns: 165px 165px 1fr 345px;
  padding-right: 9px;
  border-bottom: 2px solid rgba(153, 202, 59, 0.25);
  font-size: 19.5px;
  font-weight: 500;
  background-color: rgba(153, 202, 59, 0.25);
}
#slider-edit .table-header li {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
#slider-edit .table-header li:last-child {
  border-right: none;
}
#slider-edit .table-container {
  height: 100%;
  overflow-y: scroll;
}
#slider-edit .table-container .table-content {
  display: grid;
  grid-template-columns: 82.5px 82.5px 165px 1fr 345px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 19.5px;
  font-weight: 400;
}
#slider-edit .table-container .table-content.highlight {
  background-color: rgba(153, 202, 59, 0.05);
}
#slider-edit .table-container .table-content li {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  min-width: 0;
  padding: 15px;
}
#slider-edit .table-container .table-content li span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#slider-edit .table-container .table-content li .btn-modify, #slider-edit .table-container .table-content li .btn-delete {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  cursor: pointer;
  -webkit-user-drag: none;
  height: 45px;
  width: 120px;
  border: 0;
  border-radius: 9px;
  font-size: 19.5px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}
#slider-edit .table-container .table-content li .btn-modify img, #slider-edit .table-container .table-content li .btn-delete img {
  width: 18px;
  height: auto;
  -webkit-user-drag: none;
}
#slider-edit .table-container .table-content li .btn-modify {
  background-color: rgb(153, 202, 59);
}
#slider-edit .table-container .table-content li .btn-delete {
  background-color: rgb(240, 78, 35);
}
#slider-edit .table-container .table-content li:last-child {
  border-right: none;
  gap: 24px;
}
#slider-edit .table-container::-webkit-scrollbar {
  width: 9px; /* 스크롤바의 너비 */
}
#slider-edit .table-container::-webkit-scrollbar-track {
  background-color: rgba(153, 202, 59, 0.15);
}
#slider-edit .table-container::-webkit-scrollbar-thumb {
  background-color: rgba(153, 202, 59, 0.75);
  border-radius: 9px; /* 스크롤바 막대의 모서리를 둥글게 */
  border: 3px solid transparent; /* 막대 주변에 투명한 여백을 주어 떠 있는 효과 생성 */
  background-clip: content-box; /* border를 제외한 영역에만 배경색 적용 */
}

form {
  padding: 45px;
  border: 3px solid rgba(153, 202, 59, 0.45);
}
form .input-content-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 60px;
       column-gap: 60px;
}
form .input-content-group#input-cover {
  row-gap: 105px;
}
form .input-content-group#input-item {
  row-gap: 45px;
}
form .input-content-group .input-content {
  min-width: 0;
}
form .input-content-group .input-content .label {
  margin-bottom: 9px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: rgb(0, 0, 0);
}
form .input-content-group .input-content input {
  box-sizing: border-box;
  font-family: "Pretendard", sans-serif;
  height: 45px;
  width: 100%;
  padding: 0 12px;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  font-size: 18px;
  font-weight: 400;
  background-color: rgb(255, 255, 255);
}
form .input-content-group .input-content input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
form .input-content-group .input-content input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
form .input-content-group .input-content .file-input-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}
form .input-content-group .input-content .file-input-wrapper .file-name-wrapper {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 12px;
  height: 45px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  min-width: 0; /* 콘텐츠 크기보다 작아질 수 있도록 허용 */
}
form .input-content-group .input-content .file-input-wrapper .file-name-wrapper #file-name-display {
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(0, 0, 0, 0.3);
}
form .input-content-group .input-content .file-input-wrapper .file-name-wrapper #file-name-display.file-selected {
  color: rgb(0, 0, 0);
}
form .input-content-group .input-content .file-input-wrapper #btn-select-image {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 45px;
  width: 105px;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  background-color: rgb(153, 202, 59);
  color: rgb(255, 255, 255);
  border: 0;
  border-radius: 6px;
}
form .input-content-group .input-content .file-input-wrapper #btn-select-image:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
form .input-content-group .input-content .file-input-wrapper #btn-clear-image {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 45px;
  width: 105px;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  background-color: rgb(240, 78, 35);
  color: rgb(255, 255, 255);
  border: 0;
  border-radius: 6px;
}
form .input-content-group .input-content .file-input-wrapper #btn-clear-image:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
form#cover-edit .input-content:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/2;
}
form#cover-edit .input-content:nth-child(2) {
  grid-column: 1/2;
  grid-row: 2/3;
}
form#cover-edit .input-content:nth-child(3), form#cover-edit .input-content:nth-child(4) {
  display: flex;
  flex-direction: column;
}
form#cover-edit .input-content:nth-child(3) {
  grid-column: 2/3;
  grid-row: 1/3;
}
form#cover-edit .input-content:nth-child(4) {
  grid-column: 3/4;
  grid-row: 1/3;
}
form#cover-edit .input-content .input-group {
  flex-grow: 1; /* 남은 공간을 모두 차지하도록 설정 */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
form#cover-edit .input-content .input-group .input-dot {
  display: flex;
  align-items: center;
}
form#cover-edit .input-content .input-group .input-dot::before {
  content: "·";
  margin-right: 18px;
  font-size: 30px;
}

.btn-group {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}
.btn-group .btn-1, .btn-group .btn-2, .btn-group .btn-3, .btn-group .btn-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-user-drag: none;
  text-decoration: none;
  height: 60px;
  width: 165px;
  padding: 0;
  border-radius: 15px;
  font-size: 21px;
  font-weight: 400;
}
.btn-group .btn-1 img, .btn-group .btn-2 img, .btn-group .btn-3 img, .btn-group .btn-4 img {
  height: 21px;
  width: auto;
  -webkit-user-drag: none;
}
.btn-group .btn-1:disabled, .btn-group .btn-2:disabled, .btn-group .btn-3:disabled, .btn-group .btn-4:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
.btn-group .btn-1 {
  border: 0;
  background-color: rgb(240, 78, 35);
  color: rgb(255, 255, 255);
}
.btn-group .btn-2 {
  border: 0;
  background-color: rgb(153, 202, 59);
  color: rgb(255, 255, 255);
}
.btn-group .btn-3 {
  border: 3px solid rgb(240, 78, 35);
  background-color: rgb(255, 255, 255);
  color: rgb(240, 78, 35);
}
.btn-group .btn-4 {
  border: 3px solid rgb(153, 202, 59);
  background-color: rgb(255, 255, 255);
  color: rgb(153, 202, 59);
}

.main-btn-group {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
  min-width: 335px;
}
.main-btn-group .btn-settings, .main-btn-group .btn-change {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-user-drag: none;
  text-decoration: none;
  height: 60px;
  width: 60px;
  padding: 0;
  border-radius: 15px;
}
.main-btn-group .btn-settings {
  border: 0;
  background-color: rgb(153, 202, 59);
}
.main-btn-group .btn-settings img {
  -webkit-user-drag: none;
  width: 30px;
  height: auto;
}
.main-btn-group .btn-change {
  border: 3px solid rgb(153, 202, 59);
  background-color: rgb(255, 255, 255);
}
.main-btn-group .btn-change img {
  -webkit-user-drag: none;
}
.main-btn-group .btn-change img.view-tables {
  width: 30px;
  height: auto;
}
.main-btn-group .btn-change img.view-all-slides {
  width: auto;
  height: 24px;
}

/* SortableJS */
.sortable-ghost {
  opacity: 1 !important;
  background-color: rgba(153, 202, 59, 0.05) !important;
  outline: 3px solid rgb(153, 202, 59) !important;
  outline-offset: -3px;
}

.sortable-drag {
  opacity: 0 !important; /* 드래그하는 항목은 보이지 않도록 투명하게 처리 */
}

.drag-handle {
  cursor: grab;
}
.drag-handle img {
  height: 24px;
  width: 24px;
  -webkit-user-drag: none;
}

/* End of SortableJS */
.hide {
  display: none;
}/*# sourceMappingURL=basic.css.map */