$fs-main-title: 54px; // Main Title 폰트 사이즈
$fw-main-title: 800; // Main Title 폰트 웨이트

$fs-slide-label: 24px; // Slide Label 폰트 사이즈
$fw-slide-label: 400; // Slide Label 폰트 웨이트

$fs-slide-content: 45px; // Slide Content 폰트 사이즈
$fw-slide-content: 600; // Slide Content 폰트 웨이트
$lh-slide-content: 54px; // Slide Line Height

$fs-list-title: 18px; // List View Title 폰트 사이즈
$fw-list-title: 500; // List View Title 폰트 웨이트

$fs-list-content: 24px; // List View Content 폰트 사이즈
$fw-list-content: 600; // List View Content 폰트 웨이트

$fs-slider-edit-title: 18px; // Edit Tables Title 폰트 사이즈
$fw-slider-edit-title: 500; // Edit Tables Title 폰트 웨이트

$fs-slider-edit-content: 16.5px; // Edit Tables Content 폰트 사이즈
$fw-slider-edit-content: 400; // Edit Tables Content 폰트 웨이트

$fs-edit-label: 18px; // Input Label 폰트 사이즈
$fw-edit-label: 500; // Input Label 폰트 웨이트

$fs-edit-input: 18px; // Input 폰트 사이즈
$fw-edit-input: 400; // Input 폰트 웨이트

$fs-date: 18px; // Date 폰트 사이즈
$fw-date: 400; // Date 폰트 웨이트
$lh-date: 24px; // Date Line Height


$main-height: calc(100svh - 197.5px);


$color-k1: rgba(0, 0, 0, 1);
$color-k2: rgba(0, 0, 0, 0.9);
$color-k3: rgba(0, 0, 0, 0.75);
$color-k4: rgba(0, 0, 0, 0.6);
$color-k5: rgba(0, 0, 0, 0.45);
$color-k6: rgba(0, 0, 0, 0.3);
$color-k7: rgba(0, 0, 0, 0.15);
$color-k8: rgba(0, 0, 0, 0.1);
$color-k9: rgba(0, 0, 0, 0.05);

$color-w1: rgba(255, 255, 255, 1);
$color-w2: rgba(255, 255, 255, 0.9);
$color-w3: rgba(255, 255, 255, 0.75);
$color-w4: rgba(255, 255, 255, 0.6);
$color-w5: rgba(255, 255, 255, 0.45);
$color-w6: rgba(255, 255, 255, 0.3);
$color-w7: rgba(255, 255, 255, 0.15);
$color-w8: rgba(255, 255, 255, 0.1);
$color-w9: rgba(255, 255, 255, 0.05);

$color-r1: rgba(240, 78, 35, 1);
$color-r2: rgba(240, 78, 35, 0.9);
$color-r3: rgba(240, 78, 35, 0.75);
$color-r4: rgba(240, 78, 35, 0.6);
$color-r5: rgba(240, 78, 35, 0.45);
$color-r6: rgba(240, 78, 35, 0.3);
$color-r7: rgba(240, 78, 35, 0.15);
$color-r8: rgba(240, 78, 35, 0.1);
$color-r9: rgba(240, 78, 35, 0.05);

$color-g1: rgba(153, 202, 59, 1);
$color-g2: rgba(153, 202, 59, 0.9);
$color-g3: rgba(153, 202, 59, 0.75);
$color-g4: rgba(153, 202, 59, 0.6);
$color-g5: rgba(153, 202, 59, 0.45);
$color-g6: rgba(153, 202, 59, 0.3);
$color-g7: rgba(153, 202, 59, 0.15);
$color-g8: rgba(153, 202, 59, 0.1);
$color-g9: rgba(153, 202, 59, 0.05);

body {
  font-family: 'Pretendard', sans-serif;
  padding: 54px 30px;
  user-select: none;
}

header {
  display: flex; align-items: center; justify-content: space-between; gap: 45px;
  height: 64.5px; // font-size: 54px에 맞춘 값
  margin-bottom: 24px;

  .logo-container {
    display: flex; align-items: center; gap: 45px;
    .logo {
      margin-left: 6px;
      height: 45px; width: auto;
      -webkit-user-drag: none;
    }
    .date {
      font-size: $fs-date;
      font-weight: $fw-date;
      line-height: $lh-date;
      color: $color-k5;
    }
  }
  .main-title {
    font-size: $fs-main-title;
    font-weight: $fw-main-title;
    &#tester-name {
      max-width: 840px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.section {
  height: $main-height;
  box-sizing: border-box;
}

/* 데이터가 없을 때 표시될 섹션 */
#no-data {
  display: none; /* 기본적으로 숨김 */
  .section {
    border: 3px solid $color-r6;
    border-radius: 15px;
    display: flex; align-items: center; justify-content: center;
    p {
      font-size: 45px;
      font-weight: 600;
      color: $color-k1;
    }
  }
}

.slider {
  position: relative;
  .slider-controls {
    position: absolute; top: 15px; right: 267px;
    display: flex; align-items: center; gap: 3px;
    opacity: 0.6;
    button {
      cursor: pointer;
      display: flex; align-items: center; justify-content: center;
      height: 36px; width: 36px;
      border: 2px solid $color-r1;
      border-radius: 6px;
      background-color: $color-w1;
      color: $color-r1;
      img {
        width: 15px; height: 15px;
      }
    }
    #slide-counter {
      width: 81px;
      font-size: 21px;
      text-align: center;
      color: $color-r1;
    }
  }
}

#cover-view, #item-view {
  display: flex; gap: 45px;
  padding: 45px;
  border: 3px solid $color-r6;
  border-radius: 15px;
  .slide-content-container { // #cover-view, #item-view 공통
    display: flex; flex-direction: column; justify-content: space-between;
    width: 100%;
    min-width: 0; // flex 아이템이 할당된 공간보다 작아질 수 있도록 허용
    margin-bottom: -6px;
    .slide-content {
      .label {
        margin-bottom: 9px;
        font-size: $fs-slide-label;
        font-weight: $fw-slide-label;
        color: $color-r3;
      }
      .content {
        font-size: $fs-slide-content;
        font-weight: $fw-slide-content;
        line-height: $lh-slide-content;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  .img-frame { // #cover-view, #item-view 공통
    display: flex; align-items: center; justify-content: center;
    border: 1px solid $color-r7;
    height: 100%;
    aspect-ratio: 3 / 4;
    &#cover-img-default, &#item-img-default { // #cover-view, #item-view 공통
      background-color: $color-r9;
    }
    .default {
      width: 35%; height: auto;
      opacity: 0.6;
      -webkit-user-drag: none;
    }
    .selected {
      height: 100%; width: 100%;
      object-fit: cover; object-position: center;
      -webkit-user-drag: none;
    }
  }
  &#cover-view { // #cover-view 전용
    .slide-content-container {
      .slide-content {
        height: 230px;
        ul {
          display: flex; flex-direction: column; gap: 15px;
          li::before {
            content: "·";
            margin-right: 18px;
          }
        }
      }
    }
  }
}

#list-view {
  display: flex; flex-direction: column;
  border: 3px solid $color-r6;
  border-radius: 15px;
  .table-header {
    display: grid; grid-template-columns: 1fr 1fr 1fr 270px;
    border-bottom: 2px solid $color-r7;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    font-size: $fs-list-title; font-weight: $fw-list-title;
    background-color: $color-r7;
    li {
      padding: 15px;
      display: flex; align-items: center; justify-content: center;
      border-right: 1px solid $color-k8;
      &:last-child {
        border-right: none;
      }
    }
  }

  #list-view-container {
    display: flex; flex-direction: column;
    height: 100%;
    .table-content {
      display: grid; grid-template-columns: 1fr 1fr 1fr 270px;
      height: 100%;
      border-bottom: 1px solid $color-k8;
      font-size: $fs-list-content; font-weight: $fw-list-content;
      &:last-child {
        border-bottom: none;
      }
      li {
        display: flex; align-items: center; justify-content: center;
        border-right: 1px solid $color-k8;
        min-width: 0; // flex 아이템이 콘텐츠 크기보다 작아질 수 있도록 허용.  이렇게 해야 말줄임표 적용 가능
        padding: 0 15px;
        span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        &:first-child {
          background-color: $color-r9;
        }
        &:last-child {
          border-right: none;
        }
      }
    }
  }
}

#slider-edit {
  display: flex; flex-direction: column;
  border: 3px solid $color-g5;
  .table-header {
    display: grid; grid-template-columns: 120px 120px 1fr 255px;
    padding-right: 9px;
    border-bottom: 2px solid $color-g7;
    font-size: $fs-slider-edit-title; font-weight: $fw-slider-edit-title;
    background-color: $color-g7;
    li {
      padding: 15px;
      display: flex; align-items: center; justify-content: center;
      border-right: 1px solid $color-k8;
      &:last-child {
        border-right: none;
      }
    }
  }
  .table-container {
    height: 100%;
    overflow-y: scroll;
    .table-content {
      display: grid; grid-template-columns: 60px 60px 120px 1fr 255px;
      border-bottom: 1px solid $color-k8;
      font-size: $fs-slider-edit-content; font-weight: $fw-slider-edit-content;
      li {
        display: flex; align-items: center; justify-content: center;
        border-right: 1px solid $color-k8;
        min-width: 0; // flex 아이템이 콘텐츠 크기보다 작아질 수 있도록 허용.  이렇게 해야 말줄임표 적용 가능
        padding: 15px;
        span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .btn-modify, .btn-delete {
          cursor: pointer;
          height: 30px; width: 81px;
          border: 0; border-radius: 6px;
          font-size: 18px; font-weight: 400;
          color: $color-w1;
        }
        .btn-modify { background-color: $color-g1; }
        .btn-delete { background-color: $color-r1; }
        &:last-child {
          border-right: none;
          gap: 21px;
        }
      }
    }
  }
  /* Webkit 브라우저(Chrome, Safari, Edge)를 위한 커스텀 플로팅 스크롤바 */
  .table-container::-webkit-scrollbar {
    width: 9px; /* 스크롤바의 너비 */
  }
  .table-container::-webkit-scrollbar-track {
    background-color: $color-g7;
  }
  .table-container::-webkit-scrollbar-thumb {
    background-color: $color-g3;
    border-radius: 9px; /* 스크롤바 막대의 모서리를 둥글게 */
    border: 3px solid transparent; /* 막대 주변에 투명한 여백을 주어 떠 있는 효과 생성 */
    background-clip: content-box; /* border를 제외한 영역에만 배경색 적용 */
  }
}

form {
  padding: 45px;
  border: 3px solid $color-g5;
  .input-content-group {
    display: grid; grid-template-columns: repeat(3, 1fr);
    column-gap: 60px; row-gap: 45px;
    .input-content {
      min-width: 0;
      .label {
        margin-bottom: 9px;
        font-size: $fs-edit-label; line-height: 21px;
        font-weight: $fw-edit-label;
        color: $color-k1;
      }
      input {
        box-sizing: border-box;
        font-family: 'Pretendard', sans-serif;
        height: 45px; width: 100%;
        padding: 0 12px; margin: 0;
        border: 1px solid $color-k6;
        border-radius: 6px;
        font-size: $fs-edit-input;
        font-weight: $fw-edit-input;
        background-color: $color-w1;
        &::placeholder {
          color: $color-k6;
        }
      }
      .file-input-wrapper {
        display: flex; align-items: center; gap: 15px;
        .file-name-wrapper {
          display: flex; align-items: center;
          box-sizing: border-box;
          padding: 0 12px;
          height: 45px;
          width: 100%;
          border: 1px solid $color-k6;
          border-radius: 6px;
          min-width: 0; /* 콘텐츠 크기보다 작아질 수 있도록 허용 */
          #file-name-display {
            font-size: $fs-edit-input;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: $color-k6; // 기본 색상 (선택된 파일 없음)
            &.file-selected {
              color: $color-k1; // 파일 선택 시 색상
            }
          }
        }
        #btn-select-image {
          display: flex; align-items: center; justify-content: center;
          cursor: pointer;
          height: 45px; width: 105px;
          min-width: fit-content;
          padding: 0;
          font-size: $fs-edit-input;
          font-weight: $fw-edit-input;
          background-color: $color-g1;
          color: $color-w1;
          border: 0; border-radius: 6px;
          &:disabled {
            opacity: 0.4;
            cursor: not-allowed;
          }
        }
        #btn-clear-image {
          display: flex; align-items: center; justify-content: center;
          cursor: pointer;
          height: 45px; width: 105px;
          min-width: fit-content;
          padding: 0;
          font-size: $fs-edit-input;
          font-weight: $fw-edit-input;
          background-color: $color-r1;
          color: $color-w1;
          border: 0; border-radius: 6px;
          &:disabled {
            opacity: 0.4;
            cursor: not-allowed;
         }
        }
      }
    }
  }
  &#cover-edit {
    .input-content {
      &:nth-child(1) {
        grid-column: 1 / 2; grid-row: 1 / 2;
      }
      &:nth-child(2) {
        grid-column: 1 / 2; grid-row: 2 / 3;
      }
      &:nth-child(3), &:nth-child(4) {
        display: flex;
        flex-direction: column;
      }
      &:nth-child(3) {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
      }
      &:nth-child(4) {
        grid-column: 3 / 4;
        grid-row: 1 / 3;
      }
      .input-group {
        flex-grow: 1; /* 남은 공간을 모두 차지하도록 설정 */
        display: flex; flex-direction: column;
        justify-content: space-between;
        .input-dot {
          display: flex; align-items: center;
          &::before {
            content: '·';
            margin-right: 18px;
            font-size: 30px;
          }
        }
      }
    }
  }
}

.btn-group {
  display: flex; justify-content: flex-end;
  gap: 30px;
  .btn-1, .btn-2, .btn-3, .btn-4 {
    display: flex; justify-content: center; align-items: center; gap: 12px;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-user-drag: none;
    text-decoration: none;
    height: 60px;
    width: 165px;
    padding: 0;
    border-radius: 15px;
    font-size: 21px; font-weight: 400;
    img {
      height: 21px; width: 21px;
      -webkit-user-drag: none;
    }
    &:disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }
  }
  .btn-1 {
    border: 0;
    background-color: $color-r1;
    color: $color-w1;
  }
  .btn-2 {
    border: 0;
    background-color: $color-g1;
    color: $color-w1;
  }
  .btn-3 {
    border: 3px solid $color-r1;
    background-color: $color-w1;
    color: $color-r1;
  }
  .btn-4 {
    border: 3px solid $color-g1;
    background-color: $color-w1;
    color: $color-g1;
  }
}

.main-btn-group {
  display: flex; justify-content: flex-end; gap: 24px;
  width: 430px;
  .btn-settings, .btn-change {
    display: flex; align-items: center; justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-user-drag: none;
    text-decoration: none;
    height: 60px; width: 60px;
    padding: 0;
    border-radius: 15px;
    img {
      width: 30px; height: 30px;
    }
  }
  .btn-settings {
    border: 0;
    background-color: $color-g1;
  }
  .btn-change {
    border: 3px solid $color-g1;
    background-color: $color-w1;
  }
}

/* index.html의 #items와 view-list.html의 #lists에 공통으로 적용되는 스타일 */
#items, #lists {
  display: none; /* 슬라이더에 의해 제어되므로 기본적으로 숨김 */
}

/* SortableJS */
.sortable-ghost {
  opacity: 1 !important;
  background-color: $color-g9 !important;
  outline: 3px solid $color-g1 !important;
  outline-offset: -3px;
}

.sortable-drag {
  opacity: 0 !important; /* 드래그하는 항목은 보이지 않도록 투명하게 처리 */
}

.drag-handle {
  cursor: grab;
  img {
    height: 21px; width: 21px;
  }
}
/* End of SortableJS */

.hide {
  display: none;
}