@charset "UTF-8";
body {
  font-family: "Pretendard", sans-serif;
  padding: 54px 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64.5px;
  margin-bottom: 24px;
}
header .logo-container {
  display: flex;
  align-items: center;
  gap: 45px;
}
header .logo-container .logo {
  margin-left: 6px;
  height: 45px;
  width: auto;
  -webkit-user-drag: none;
}
header .logo-container .date {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.45);
}
header .main-title {
  font-size: 60px;
  font-weight: 800;
}
header .main-title#tester-name {
  max-width: 840px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.section {
  height: calc(100svh - 197.5px);
  box-sizing: border-box;
  border-radius: 15px;
}

.slider {
  position: relative;
}
.slider #cover-view, .slider #slide-view {
  display: flex;
  gap: 45px;
  padding: 45px;
  border: 3px solid rgba(240, 78, 35, 0.3);
}
.slider #cover-view .slide-content-container, .slider #slide-view .slide-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-width: 0;
  margin-bottom: -6px;
}
.slider #cover-view .slide-content-container .slide-content .label, .slider #slide-view .slide-content-container .slide-content .label {
  margin-bottom: 7.5px;
  font-size: 24px;
  font-weight: 400;
  color: rgba(240, 78, 35, 0.75);
}
.slider #cover-view .slide-content-container .slide-content .content, .slider #slide-view .slide-content-container .slide-content .content {
  font-size: 51px;
  font-weight: 600;
  line-height: 61px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.slider #cover-view .img-frame, .slider #slide-view .img-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(240, 78, 35, 0.15);
  height: 100%;
  aspect-ratio: 4/5;
}
.slider #cover-view .img-frame#cover-img-default, .slider #cover-view .img-frame#slide-img-default, .slider #slide-view .img-frame#cover-img-default, .slider #slide-view .img-frame#slide-img-default {
  background-color: rgba(240, 78, 35, 0.05);
}
.slider #cover-view .img-frame .default, .slider #slide-view .img-frame .default {
  width: 35%;
  height: auto;
  opacity: 0.6;
  -webkit-user-drag: none;
}
.slider #cover-view .img-frame .selected, .slider #slide-view .img-frame .selected {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-user-drag: none;
}
.slider #cover-view#cover-view .slide-content-container .slide-content, .slider #slide-view#cover-view .slide-content-container .slide-content {
  height: 240.5px;
}
.slider #cover-view#cover-view .slide-content-container .slide-content ul, .slider #slide-view#cover-view .slide-content-container .slide-content ul {
  display: flex;
  flex-direction: column;
  gap: 10.5px;
}
.slider #cover-view#cover-view .slide-content-container .slide-content ul li::before, .slider #slide-view#cover-view .slide-content-container .slide-content ul li::before {
  content: "·";
  margin-right: 18px;
}
.slider .slider-controls {
  position: absolute;
  top: 15px;
  right: 420px;
  display: flex;
  align-items: center;
  gap: 6px;
  opacity: 0.6;
}
.slider .slider-controls button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  border: 2px solid rgb(240, 78, 35);
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  color: rgb(240, 78, 35);
}
.slider .slider-controls button img {
  width: 15px;
  height: 15px;
}
.slider .slider-controls #slide-counter {
  width: 81px;
  font-size: 21px;
  text-align: center;
  color: rgb(240, 78, 35);
}

#list-view {
  display: flex;
  flex-direction: column;
  border: 3px solid rgba(240, 78, 35, 0.3);
}
#list-view .table-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 270px;
  border-bottom: 2px solid rgba(240, 78, 35, 0.15);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  font-size: 18px;
  font-weight: 500;
  background-color: rgba(240, 78, 35, 0.15);
}
#list-view .table-header li {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
#list-view .table-header li:last-child {
  border-right: none;
}
#list-view #list-view-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#list-view #list-view-container .table-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 270px;
  height: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 24px;
  font-weight: 600;
}
#list-view #list-view-container .table-content:last-child {
  border-bottom: none;
}
#list-view #list-view-container .table-content li {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  min-width: 0;
  padding: 0 15px;
}
#list-view #list-view-container .table-content li span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#list-view #list-view-container .table-content li:first-child {
  background-color: rgba(240, 78, 35, 0.05);
}
#list-view #list-view-container .table-content li:last-child {
  border-right: none;
}

.edit-table {
  display: flex;
  flex-direction: column;
  border: 3px solid rgba(153, 202, 59, 0.45);
}
.edit-table .table-header {
  border-bottom: 2px solid rgba(153, 202, 59, 0.15);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  font-size: 18px;
  font-weight: 500;
  background-color: rgba(153, 202, 59, 0.15);
}
.edit-table .table-header li {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.edit-table .table-header li:last-child {
  border-right: none;
}
.edit-table .table-container {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
}
.edit-table .table-container .table-content {
  height: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 16.5px;
  font-weight: 400;
}
.edit-table .table-container .table-content li {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  min-width: 0;
  padding: 0 15px;
}
.edit-table .table-container .table-content li span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.edit-table .table-container .table-content li:last-child {
  border-right: none;
}
.edit-table#slider-edit .table-header {
  display: grid;
  grid-template-columns: 75px 1fr 1fr 1fr 195px 225px;
}
.edit-table#slider-edit #slider-edit-container .table-content {
  display: grid;
  grid-template-columns: 75px 1fr 1fr 1fr 195px 225px;
}
.edit-table#slider-edit #slider-edit-container .table-content li:last-child {
  gap: 18px;
}
.edit-table#slider-edit #slider-edit-container .table-content li:last-child .btn-modify, .edit-table#slider-edit #slider-edit-container .table-content li:last-child .btn-delete {
  cursor: pointer;
  height: 30px;
  width: 81px;
  border: 0;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}
.edit-table#slider-edit #slider-edit-container .table-content li:last-child .btn-modify {
  background-color: rgb(153, 202, 59);
}
.edit-table#slider-edit #slider-edit-container .table-content li:last-child .btn-delete {
  background-color: rgb(240, 78, 35);
}
.edit-table#order-edit .table-header {
  display: grid;
  grid-template-columns: 60px 125px 1fr 1fr 1fr 195px;
}
.edit-table#order-edit #order-edit-container .table-content {
  display: grid;
  grid-template-columns: 60px 125px 1fr 1fr 1fr 195px;
}
.edit-table#order-edit #order-edit-container .table-content.selected {
  outline: 5px solid rgb(153, 202, 59);
  outline-offset: -3px;
}
.edit-table#order-edit #order-edit-container .table-content li:first-child {
  background-color: rgba(153, 202, 59, 0.05);
}
.edit-table#order-edit #order-edit-container .table-content li:first-child input {
  cursor: pointer;
  height: 30px;
  width: 30px;
  margin: 0;
  padding: 0;
}

form {
  padding: 45px;
  border: 3px solid rgba(153, 202, 59, 0.45);
}
form .input-content-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 60px;
       column-gap: 60px;
  row-gap: 45px;
}
form .input-content-group .input-content {
  min-width: 0;
}
form .input-content-group .input-content .label {
  margin-bottom: 9px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: rgb(0, 0, 0);
}
form .input-content-group .input-content input {
  box-sizing: border-box;
  font-family: "Pretendard", sans-serif;
  height: 45px;
  width: 100%;
  padding: 0 12px;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  font-size: 18px;
  font-weight: 400;
  background-color: rgb(255, 255, 255);
}
form .input-content-group .input-content input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
form .input-content-group .input-content input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
form .input-content-group .input-content .file-input-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}
form .input-content-group .input-content .file-input-wrapper .file-name-wrapper {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 12px;
  height: 45px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  min-width: 0; /* 콘텐츠 크기보다 작아질 수 있도록 허용 */
}
form .input-content-group .input-content .file-input-wrapper .file-name-wrapper #file-name-display {
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(0, 0, 0, 0.3);
}
form .input-content-group .input-content .file-input-wrapper .file-name-wrapper #file-name-display.file-selected {
  color: rgb(0, 0, 0);
}
form .input-content-group .input-content .file-input-wrapper #btn-select-image {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 45px;
  width: 105px;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  background-color: rgb(153, 202, 59);
  color: rgb(255, 255, 255);
  border: 0;
  border-radius: 6px;
}
form .input-content-group .input-content .file-input-wrapper #btn-clear-image {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 45px;
  width: 105px;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  background-color: rgb(240, 78, 35);
  color: rgb(255, 255, 255);
  border: 0;
  border-radius: 6px;
}
form#cover-edit .input-content:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/2;
}
form#cover-edit .input-content:nth-child(2) {
  grid-column: 1/2;
  grid-row: 2/3;
}
form#cover-edit .input-content:nth-child(3), form#cover-edit .input-content:nth-child(4) {
  display: flex;
  flex-direction: column;
}
form#cover-edit .input-content:nth-child(3) {
  grid-column: 2/3;
  grid-row: 1/3;
}
form#cover-edit .input-content:nth-child(4) {
  grid-column: 3/4;
  grid-row: 1/3;
}
form#cover-edit .input-content .input-group {
  flex-grow: 1; /* 남은 공간을 모두 차지하도록 설정 */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
form#cover-edit .input-content .input-group .input-dot {
  display: flex;
  align-items: center;
}
form#cover-edit .input-content .input-group .input-dot::before {
  content: "·";
  margin-right: 18px;
  font-size: 30px;
}

.btn-group {
  display: flex;
  gap: 30px;
}
.btn-group .btn-1, .btn-group .btn-2, .btn-group .btn-3, .btn-group .btn-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-user-drag: none;
  text-decoration: none;
  height: 60px;
  width: 165px;
  padding: 0;
  border-radius: 15px;
  font-size: 21px;
  font-weight: 400;
}
.btn-group .btn-1 img, .btn-group .btn-2 img, .btn-group .btn-3 img, .btn-group .btn-4 img {
  height: 21px;
  width: 21px;
  -webkit-user-drag: none;
}
.btn-group .btn-1:disabled, .btn-group .btn-2:disabled, .btn-group .btn-3:disabled, .btn-group .btn-4:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
.btn-group .btn-1 {
  border: 0;
  background-color: rgb(240, 78, 35);
  color: rgb(255, 255, 255);
}
.btn-group .btn-2 {
  border: 0;
  background-color: rgb(153, 202, 59);
  color: rgb(255, 255, 255);
}
.btn-group .btn-3 {
  border: 3px solid rgb(240, 78, 35);
  background-color: rgb(255, 255, 255);
  color: rgb(240, 78, 35);
}
.btn-group .btn-4 {
  border: 3px solid rgb(153, 202, 59);
  background-color: rgb(255, 255, 255);
  color: rgb(153, 202, 59);
}

.hide {
  display: none;
}/*# sourceMappingURL=basic.css.map */